<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soccer.dilion.sportreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.soccer.dilion.sportreader.HomePageActivity"
            android:label="Sport reader"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.soccer.dilion.sportreader.SoccerActivity"
            android:label="Soccer"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.soccer.dilion.sportreader.AmericanFootballActivity"
            android:label="American Football"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.soccer.dilion.sportreader.CricketActivity"
            android:label="Cricket"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>